@import "tailwindcss";

@layer base {
  main {
    @apply mt-2 mx-auto max-w-7xl md:px-6 sm:px-6 max-sm:px-8
  }

  p {
    @apply mt-2 text-gray-800
  }

  h1 {
    @apply text-gray-800 text-center font-bold text-2xl
  }
}

@layer components {
  .text-title {
    @apply mt-2 text-4xl text-center;
  }

  .date {
    @apply mt-0 text-gray-400
  }

}