---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
	<div class="text-title">Bienvenido a la Parroquia Espíritu Santo</div>
	<p>Se siente la religión cerca de nosotros</p>
</BaseLayout>
