---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout pageTitle="About">
  <div class="text-title">About me</div>
  <p>
    Hi! I'm Julio Cesar Cori Ochoa, a developer who is always improving his
    skills. Working within a team is one of my main goals. One of my favorite
    things to do is take my dogs for a walk. I also enjoy reading books. Skills:
    HTML, CSS, JavaScript, Bootstrap, Vue.js, Quasar.js, Node.js, Express,
    Python, Git and Bash. I created a project-tracking system for a university.
    In my last job, we created a system to manage cases of injustice of my
    country.
  </p>
</BaseLayout>
