---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout pageTitle="About">
  <div class="text-title">A cerca de nosotros</div>
  <p>Somos parte de la Parroquia Espíritu Santo</p>
</BaseLayout>
