---
import NavLink from "./NavLink.astro";
import { SITE_TITLE_DEFAULT } from "../consts";
const baseUrl = `${Astro.url.origin}${import.meta.env.BASE_URL}`;
---

<div class="mx-auto max-w-7xl px-2 max-sm:px-6">
  <nav class="sm:flex h-16 mt-2 items-center justify-between max-sm:mt-4">
    <div class="flex items-center justify-center">
      <a class="ml-4 font-bold text-amber-500" href={baseUrl}>
        {SITE_TITLE_DEFAULT}</a
      >
    </div>
    <div class="flex space-x-4 justify-center max-sm:mt-3">
      <NavLink href="/">Inicio</NavLink>
      <NavLink href="/nosotros">Nosotros</NavLink>
      <NavLink href="/cancionero">Cancionero</NavLink>
    </div>
  </nav>
</div>
