---
const { href } = Astro.props;

const baseUrlHref = `${import.meta.env.BASE_URL}${href}`;

const pathname = Astro.url.pathname.replace(import.meta.env.BASE_URL, "");

const subpath = pathname.match(/[^\/]+/g);

const isActive = href === pathname || href === "/" + (subpath?.[0] || "");
---

<a
  href={baseUrlHref}
  aria-current={isActive ? "page" : undefined}
  class="rounded-md bg-gray-50 p-2 px-6
  hover:bg-white
  hover:text-amber-600
  hover:shadow-xl
  aria-[current=page]:text-gray-50
  aria-[current=page]:bg-amber-400"
>
  <slot />
</a>
